[submodule "react-todo-list"]
	path = react-todo-list
	url = ttps://github.com/AstleyS/react-todo-list.git
[submodule "react-ecommerce"]
	path = react-ecommerce
	url = https://github.com/AstleyS/react-ecommerce
[submodule "web-pathfinder-visualizer"]
	path = web-pathfinder-visualizer
	url = https://github.com/AstleyS/web-pathfinder-visualizer.git
